/*
 * BeerDev - HTML5 App
 * Initial version: 0.6
 * Christopher State
 */

/* Wrapper to be used around all content not in .bar-title and .bar-tab */
.content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-transition-property: top, bottom;
          transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;  
          transition-duration: .2s, .2s;  
  -webkit-transition-timing-function: linear, linear;
          transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
   /*  background-image:url('bakgrund1.png'); }*/
}


/* Buttons in title bars
-------------------------------------------------- */

/* Generic style for all buttons in .bar-title */
.bar-title [class*="button"] {
  position: relative;
  z-index: 10; /* Places buttons over full width title */
  font-size: 12px;
  line-height: 23px;
}


/* Hacky way to right align buttons outside of flex-box system
   Note: is only absolutely positioned button, would be better if flex-box had an "align right" option */
.bar-title .title + [class*="button"]:last-child,
.bar-title .button + [class*="button"]:last-child,
.bar-title [class*="button"].pull-right {
  position: absolute;
  top: 0px;
  right: 0px;
}



/* General button styles
-------------------------------------------------- */

[class*="button"] {
  position: relative;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0;
}


